DATABASE_URL="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require&channel_binding=require"
NEON_AUTH_BASE_URL="https://YOUR_NEON_AUTH_URL/neondb/auth"
NEON_AUTH_COOKIE_SECRET="generate-with-openssl-rand-base64-32"
